.Rproj.user
.Rhistory
.Ruserdata
*.tar
*.gz
*.html
*.lookup
papers/*
*.fastq
*.1
de Faria/snRNA/data/.~lock.paper_info.xlsx#
*.idx
de Faria/snRNA/scripts/snrna.data
.RData
.RDataTmp
*.csv
*.csv
*.txt
*.h5ad
*.rds
*.h5Seurat
*.xlsx
*.jpeg
*.png
